<div class="container">

	<div *ngIf="EstadoForm == 'L'">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">Cantidad Empleados</th>
					<th class="text-center">Fecha Fundacion</th>
					<th class="text-center">Id Empresa</th>
					<th class="text-center">Razon Social</th>
					<th class="text-center">ABM</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of Items">
					<td>{{item.CantidadEmpleados}}</td>
					<td>{{item.FechaFundacion}}</td>
					<td>{{item.IdEmpresa}}</td>
					<td>{{item.RazonSocial}}</td>
					<td>
						<button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(item)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
						<button type="button" class="btn btn-sm btn-outline-primary" title="Eliminar" (click)="Eliminar(item.IdEmpresa)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
					</td>

				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-outline-primary" (click)="Agregar()">
            <span class="fas fa-plus"></span> 
        Agregar</button>

	</div>
	<div *ngIf="EstadoForm == 'A'">
		<h3>Registrar Empresa</h3>
		<form name="FormReg" [formGroup]='FormReg' class="bg-light">

			<div class="form-group">
				<label for="CantidadEmpleados">Cantidad Empleados</label>
				<input type="number" class="form-control" formControlName= "CantidadEmpleados" id="CantidadEmpleados"/>
  </div>
				<div class="form-group">
					<label for="FechaFundacion">Fecha Fundacion</label>
					<input type="date" class="form-control" formControlName= "FechaFundacion" id= "FechaFundacion"/>
   </div>
					<div class="form-group">
						<label for="IdEmpresa">Id Empresa</label>
						<input type="number" class="form-control" formControlName= "IdEmpresa" id="IdEmpresa"/>
  </div>

						<div class="form-group">
							<label for="RazonSocial">"Razon Social"</label>
							<input type="text" class="form-control" formControlName= "RazonSocial" id="RazonSocial"/>
  </div>
							<div class="row justify-content-center">
								<button type="button"  class="btn btn-primary" (click)="Almacenar()">
            <span class="fas fa-check"></span> Almacenar
        </button>
								&nbsp;
								<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> 
        Volver</button>
							</div>
		</form>
	</div>
	<div *ngIf="EstadoForm == 'M'">
		<h3>Modificar Empresa</h3>
		<form name="FormReg" [formGroup]='FormReg' class="bg-light">

			<div class="form-group">
				<label for="CantidadEmpleados">Cantidad Empleados</label>
				<input type="number" class="form-control" formControlName= "CantidadEmpleados" id="CantidadEmpleados"/>
  </div>
				<div class="form-group">
					<label for="FechaFundacion">Fecha Fundacion</label>
					<input type="date" class="form-control" formControlName= "FechaFundacion" id= "FechaFundacion"/>
   </div>
					<div class="form-group">
						<label for="IdEmpresa">Id Empresa</label>
						<input type="number" class="form-control" formControlName= "IdEmpresa" id="IdEmpresa"/>
  </div>

						<div class="form-group">
							<label for="RazonSocial">"Razon Social"</label>
							<input type="text" class="form-control" formControlName= "RazonSocial" id="RazonSocial"/>
  </div>
							<div class="row justify-content-center">
								<button type="button"  class="btn btn-primary" (click)="Almacenar()">
            <span class="fas fa-check"></span> Almacenar
        </button>
								&nbsp;
								<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> 
        Volver</button>
							</div>
		</form>

	</div>